html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 1px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}
#settings {
    display: flex;
    flex-direction: row;
}
#generator, #visualization {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}

#visualization > input[readonly] {
    background-color: #CCCCCC;
}

#visualization > input.failed {
    background-color: #ff8080;
}
#visualization > input {
    width: 4em;
}

.int {
    width: 3em;
}
#canvas {
/*    height: 1000px;
    width: 1000px*/
    border:1px solid red;
    height: 100%;
    flex: 33%;
    overflow: hidden;
}
#canvas > svg {
    width:100%;
    height:100%;
}
svg > text {
    font-size: 6px;
    text-anchor: start;
    dominant-baseline: central;
}

